# Server Port
PORT=5000

# MongoDB URI (default to local server)
MONGODB_URI=mongodb://localhost:27017/campusloop

# JWT Hashing Secret Key
JWT_SECRET=campusloop_jwt_secure_secret_key_2026

# Cloudinary Account Credentials (Optional fallback to local storage if empty)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
